<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'specific/events' %>

<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :group, 'Post As' %><br />
      <%= select('group', 'name', @memberships.collect {|g| g.name }) %>
    </div>
    <div class="field">
      <%= f.text_field :name, :size => 55, placeholder: 'Event Name' %>
    </div>
    <div class="field">
      <%= f.text_area :description, :size => '53x10', placeholder: 'Description' %>
    </div>
    <div class="field">
      <%= f.text_field :location, :size => 55, placeholder: 'Location' %>
    </div>
    <div class="field">
      <%= f.text_field :permalink, :size => 55, placeholder: 'Link to Additional Information' %>
    </div>
    <div class="field">
      <%= f.label :start %><br />
      <%= f.datetime_select :start, :ampm => true, :default => 1.days.from_now, :minute_step => 5 %>
    </div>
    <div class="field">
      <%= f.label :finish %><br />
      <%= f.datetime_select :finish, :ampm => true, :default => 1.days.from_now, :minute_step => 5 %>
    </div>

    <div>
      <table>
        <% count = 0 %>

        <% @tags.each do |tag| %>
            <% if tag.name != 'User-created' #don't let user pick "user-created" category %>
                <% if count % 3 == 0 %>
                    <tr>
                <% end %>
                <td><div class="tag">
                  <%= check_box_tag 'tags[]', tag.name, class: 'create_event_checkbox' %>
                  <%= label_tag tag.name %>
                </div></td>
                <% count += 1 %>
                <% if count % 3 == 0 %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>

      </table>
    </div>

    <div class="actions">
      <%= f.submit 'Create', class: 'btn btn-large btn-primary' %>
    </div>
<% end %>




