<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :group, "Post As" %><br />
    <%= select("group", "name", @memberships.collect {|g| g.name }) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "40x10" %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label :permalink, "Link to Additional Information" %><br />
    <%= f.text_field :permalink, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :ampm => true, :default => 1.days.from_now, :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish, :ampm => true, :default => 1.days.from_now, :minute_step => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
