<%= stylesheet "specific/feedback" %>

<table id="FeedbackTable">
<%= form_tag :controller => "events", :action => "send_feedback" do %>
  <tr><td><%= label_tag :feedback, "Thank you for your feedback!" %></td></tr>
  <tr><td id="FeedbackText"><%= text_area_tag :feedback %></td></tr>
  <tr><td><%= submit_tag "Submit" %></td></tr>
<% end %>
  <tr><td><p>You can also email us at feedback@steamtunneling.com</p></td></tr>
</table>