<% javascript "events/events.js" %>

<div class="left main">
  <table>
    <tr>
      <td>
        <div id="filter_toolbar">
          <div id="DateSelector">
            <select id="date_selected">
              <%= options_for_select @dates.keys, :selected => @selected_date %>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div id="search-wrapper">
          <input type="search" id="search-input" placeholder="Search Everything" autosave='plaza-search' results = 5 />
        </div>
      </td>
    </tr>
  </table>

  <div class="btn-group" data-toggle="buttons-checkbox">
    <%= form_tag select_filters_events_path, :method => "post" do %>
        <table><tr>
        <% if @selected_filters == nil %>
            <%= puts "selected filters doesn't exist yet." %>
            <%@selected_filters = {} %>
        <% else %>
            <% @tags.each do |tag| %>
                <td>
                    <div id="<%=tag.name%>_tag">
                        <button type="button" class="btn active" value="<%=tag.id%>" id="selected_filters_"
                                name="selected_filters[]" onclick="buttonPressed()"><%=tag.name%></button>
                    </div>
                </td>
            <% end %>
        <% end %>
    <% end %>
    </tr></table>
  </div>

  <div class='page'>
    <% if @events.empty? %>
        <div id="NoEventsFound"> No events found </div>
    <% else %>
        <% puts 'eventcount = ' + @events.length %>
        <%= render @events %>
    <% end %>
  </div>
</div>

<div id="event_details" >
    <div id="detailsTitle"> Click an Event to See Details </div>
    <div id="detailsDate"></div>
    <div id="detailsLocation"></div>
    <div id="detailsDescription"> </div>
    <div id="detailsGroup"></div>
    <div id="detailsInfo"></div>
</div>