<% javascript "events/events.js" %>

<div class="left main">
  <div class="filter_toolbar">
    <div id="DateSelector">
      <select id="date_selected">
        <%= options_for_select @dates.keys, :selected => @selected_date %>
      </select>
    </div>
    <div>
    <%= form_tag save_interests_events_path, :method => "post" do %>
        <table>
          <% @tags.each do |tag| %>
              <td><div class="tag">
                <%= check_box_tag tag.name %>
                <%= label_tag tag.name, tag.name %>
              </div></td>
          <% end %>
          <tr><td> <%= submit_tag "Reload" %> </td></tr>
        </table>
    <% end %>
    </div>
    <!--
    <div id="search-wrapper">
      <input type="search" id="search-input" placeholder="Search Everything" autosave='plaza-search' results = 5 incremental="incremental" />
      <div id="results">
      </div>
    </div> -->
  </div>

  <div class='page'>
    <% if @events.empty? %>
        <div id="NoEventsFound"> No events found </div>
    <% else %>
        <%= render @events %>
    <% end %>
  </div>
</div>

<div id="Panel" >
  <div class="right_details">
    <h3 id="detailsTitle"> Click an Event to See Details </h3><br />
    <div id="detailsLinks"></div><br />
    <div id="detailsLocation"></div><br />
    <p id="detailsDescription"> </p>
    <div id="detailsInfo"></div>
    <p id="detailsGroup"></p>
  </div>
</div>