<% javascript "events/events.js" %>

<div class="left main">
  <table>
    <tr>
      <td>
        <div id="filter_toolbar">
          <div id="DateSelector">
            <select id="date_selected">
              <%= options_for_select @dates.keys, :selected => @selected_date %>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div id="search-wrapper">
          <input type="search" id="search-input" placeholder="Search Everything" autosave='plaza-search' results = 5 />
        </div>
      </td>
    </tr>
  </table>

  <div>
    <%= form_tag select_filters_events_path, :method => "post" do %>
        <table>
          <% if @selected_filters == nil %>
              <%= puts "selected filters doesn't exist yet." %>
              <%@selected_filters = {} %>
          <% end %>
          <% @tags.each do |tag| %>
              <td><div id="<%=tag.name%>_tag">
                <%= check_box_tag 'selected_filters[]', tag.id, @selected_filters.include?(tag.id.to_s) %>
                <%= label_tag tag.name, tag.name %>
              </div></td>
          <% end %>
        </table>
    <% end %>
  </div>

  <div class='page'>
    <% if @events.empty? %>
        <div id="NoEventsFound"> No events found </div>
    <% else %>
        <%= render @events %>
    <% end %>
  </div>
</div>

<div id="event_details" >
    <div id="detailsTitle"> Click an Event to See Details </div>
    <div id="detailsLinks"></div>
    <div id="detailsLocation"></div>
    <div id="detailsDescription"> </div>
    <div id="detailsInfo"></div>
    <div id="detailsGroup"></div>
</div>

