<%= stylesheet "specific/landing" %>
<div class="main">
  <table>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <tr><td><%= f.label :email %></td>
          <td><%= f.email_field :email %></td></tr>

        <tr><td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td></tr>

        <% if devise_mapping.rememberable? -%>
            <tr><td><%= f.check_box :remember_me %> <%= f.label :remember_me %></td></tr>
        <% end -%>

        <tr><td><%= f.submit "Sign in " %></td>
          <td><%= link_to "Forgot password?", new_password_path(resource_name), :id => "new_password" %></td></tr>
    <% end %>

    <tr><td>
      <%= button_to "Sign up", new_registration_path(resource_name), :id => "sign_up", :method => :get %></td>
      <td><%= link_to "No confirmation?", new_confirmation_path(resource_name),
                      :id => "confirmation" %></td></tr>
  </table>
</div>
